$em: 16px;
$sans: "source-sans-pro", "helvetivca neue", arial, sans-serif;

body {
  background: $background;
  font-family: $sans;

}

@font-face {
    font-family: 'MarkerfieldRegular';
    src: url('markerfield-webfont.eot');
    src: url('markerfield-webfont.eot?#iefix') format('embedded-opentype'),
         url('markerfield-webfont.woff') format('woff'),
         url('markerfield-webfont.ttf') format('truetype'),
         url('markerfield-webfont.svg#MarkerfieldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container {
  @include outer-container;
}

header {
  background: $charcoal;
  height: 300px;

  .fixed-header {
    @include row;
    @include span-columns(12);
    margin-top: 40px;
    margin-bottom: 40px;

    .logo {
      @include span-columns(6);
      
    }

    .buy-tickets {
      @include span-columns(6);
      
      .button {
        float: right;
      } 
    }
  }

  ul {
    @include row;

    li {
      @include span-columns(3);
    }
  }
}

.hero {
  background: $sea-green;
  height: 520px;
}